.header {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.top{
    background: #1F2937;
    display: flex;
    padding: 100px;
    align-items: center;
    
    justify-content: center;
}

p{
    font-size: 18px;
    color: #E5E7EB;
}
.textbox{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    flex-direction: column;
}
.awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.top-button {
    flex-wrap: wrap;
    
}

button {
    width: 90px;
    height: 30px;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-weight: bold;
}

.picture {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.content {
    align-items: center;
}

.info {
    display:flex;
    justify-content: center;
    padding-top: 80px;
    font-size:  36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-around;
    
}

.cards img{
    width: 200px;
    margin: 5px 20px 0px 20px;
    border-radius: 15px;;
}



.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
    max-width: 500px;

}

.quote-content{

}